/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8%;
    gap: 3rem;
    background: white;
    font-family: 'Poppins', sans-serif;
}

/* Left side */
.hero-left {
    flex: 1;
}

.hero-title {
    font-size: 50px;
    font-weight: 800;
    color: #0027B2;
    margin-bottom: 1.5rem;
}

.hero-desc {
    font-size: 20px;
    line-height: 1.7;
    color: #444;
    max-width: 600px;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
}

    .hero-buttons a {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }

.reg {
    background: #0027B2;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    font-weight: 600;
    border: 1px solid #001C80;
    text-decoration: none;
    box-shadow: inset 0 0 15px rgba(193, 200, 223, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.reg:hover {
    transform: translateY(-4px);
    opacity: 0.9;
}

/* Secondary button (Login) */
.btn-secondary {
    background: #fff;
    color: black;
    padding: 0.7rem 1.5rem;
    font-size: 1px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #ddd;
    box-shadow: inset 0 0 15px rgba(193, 200, 223, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

    .btn-secondary:hover {
        opacity: 0.8;
        transform: translateY(-4px);
    }

a.reg {
    color: white !important;
}

/* Right side */
.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.outer-circle {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 4px solid white;
    background: #fff;
    box-shadow: inset 0 0 40px rgba(193, 200, 223, 0.4), /* Inner shadow */
    0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-circle .main-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* Small circles */
.small-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid white;
    box-shadow: inset 0 0 40px rgba(193, 200, 223, 0.4),
    0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

.small-circle img {
    width: 36px;
    height: 36px;
}

.icon1 {
    transform: rotate(-135deg) translate(265px) rotate(135deg);
}

/* Network icon - left position */
.icon2 {
    transform: rotate(-160deg) translate(265px) rotate(160deg);
}

/* Calendar icon - bottom-left position */
.icon3 {
    transform: rotate(-185deg) translate(245px) rotate(185deg);
}

/* Cloud icon - bottom position */
.icon4 {
    transform: rotate(-210deg) translate(210px) rotate(210deg);
}

