body {
    margin: 0;
/*    background: #EBECF0;*/
    background: #F5F6F9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EBECF0;
    padding: 12px 35px;
    border-radius: 50px;
/*    background: linear-gradient(90deg, #E8EAF1 2.4%, rgba(235, 236, 240, 0.00) 98.82%);*/
    box-shadow: 8px 7px 21px 0 rgba(0, 0, 0, 0.15), -6px -7px 11px 0 rgba(255, 255, 255, 0.84);
    width: 80%;
    margin: 18px auto;
    position: sticky;
    top: 15px;
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1px;
}

.nav-logo {
    width: 48px;
    height: auto;
    background-color: #EBECF0;
}

.brand-name {
    color: #0027B2;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.84px;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

    .nav-link:hover {
        border-radius: 29px;
        background: #EBECF0;
        box-shadow: -4px -4px 4px 0 #FFF inset, 5px 5px 2px 0 rgba(0, 0, 0, 0.12) inset;
    }

    .nav-link.active {
        border-radius: 29px;
        background: #EBECF0;
        box-shadow: -4px -4px 4px 0 #FFF inset, 5px 5px 2px 0 rgba(0, 0, 0, 0.12) inset;
    }

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-account {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

.account-text {
    padding: 8px 18px;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

    .account-text:hover {
        border-radius: 29px;
        background: #EBECF0;
        box-shadow: -4px -4px 4px 0 #FFF inset, 5px 5px 2px 0 rgba(0, 0, 0, 0.12) inset;
    }


    .nav-account.active {
        border-radius: 29px;
        background: #EBECF0;
        box-shadow: -4px -4px 4px 0 #FFF inset, 5px 5px 2px 0 rgba(0, 0, 0, 0.12) inset;
    }


.profile-pic {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-initials {
    border-radius: 50%;
    background-color: #0027B2;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.account-icon {
    width: 42px; 
    height: 42px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: transparent; 
}


.profile-initials {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #0027B2;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

    .account-icon i {
        font-size: 18px;
    }
